.btn {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.default-btn {
    background: #4378FF;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
}

.default-btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.text-btn {
    background: transparent;
    border: none;
    color: #4378FF;
    font-family: 'Inter', sans-serif;
}

.outline-btn {
    background: white;
    color: #4378FF;
    border-radius: 8px;
    padding: 10px 16px;
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.outline-btn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.header-button {
    --a-text-color: rgb(#4d6bfe);
    --a-box-shadow-color-focus: rgb(#4d6bfe);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25rem;
}

.underline {
    border-bottom: 1px solid #4d6bfe;
}

.header-button2 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/ 1);
    font-size: 16px;
    line-height: 1.25rem;
}