.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.home-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
}

.home-flex-container h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(67, 120, 255, 0.4);
}

.home-flex-container p {
    max-width: 60%;
    color: #fffdfd; 
    line-height: 1.6; 
    text-align: center;
    font-size: 1.1rem;
}

.home-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home-image-container {
    width: 40%;
    max-width: 450px;
    border-radius: 10%;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.home-image-container:hover {
    transform: scale(1.05);
}

.home-btn-container {
    padding: 10px;
}

