.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
}

.home-flex-container h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(67, 120, 255, 0.4);
}

.home-flex-container p {
    max-width: 60%;
    color: #fffdfd; 
    line-height: 1.6; 
    text-align: center;
    font-size: 1.1rem;
}

.home-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home-image-container {
    width:100%;
    max-width: 460px;
    height: auto;
    border-radius: 16px;
    padding: 0;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
}

.home-image-container:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 16px 28px rgba(0, 0, 0, 0.15);
}

.home-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}