.common-translation-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.common-translation-container h2 {
    color: #4378FF;
    text-align: center;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 60%;
    margin: 30px auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgb(71 85 105/ 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

th, td {
    border: 2px solid #e0e0e0;
    padding: 12px 16px;
    text-align: left;
    font-size: 15px;
}

thead th {
    background-color: #f9f9f9;
    color: rgb(71 85 105/ 1);
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
}

tr:hover {
    background-color: #f0f4ff;
    transition: background-color 0.2s ease;
}
